@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}



/*------------------------------------------
preloader
-------------------------------------------*/
.preloader {
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: 1500;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader.fade-out {
    opacity: 0;
    transition: all 0.6s ease;
}
.preloader .box {
    width: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.preloader .box div {
    height: 15px;
    width: 15px;
    background-color: #111;
    border-radius: 50%;
    animation: loaderAni 1s ease infinite;
}
.preloader .box div:nth-child(2) {
    animation-delay: 0.1s;
}
.preloader .box div:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes loaderAni {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}



/*------------------------------------------
home section
-------------------------------------------*/
.home{
    height: 10vh;
    min-height: 300px;
    font-family: 'Ubuntu', sans-serif;
}

.home .home-content .pic {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home .home-content .pic img {
    width: 500px;
}

/*------------------------------------------
ALL SIMILAR
-------------------------------------------*/

section {
    padding: 100px 0;
}


.services{
    font-family: 'Poppins', sans-serif;
}


.services .serv-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/*------------------------------------------
services
-------------------------------------------*/

.services {
    color: #ffffff;
}
.services .title {
    color: #111;
}
.services .serv-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .serv-content .card {
    position: relative;
   /*  width: calc(33% - 20px);  */
    width: calc(50% - 20px); 
  
    cursor: pointer;
    margin-bottom: 2em;
}

.services .serv-content .card .box {
    border-radius: 17px;
    overflow: hidden;
    position: relative;
}

.services .serv-content .card .portfolio-img {
    display: block;
    position: relative;
}

.services .serv-content .card .portfolio-img img{
    border:0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}
.services .serv-content .card .hover_effect .portfolio-img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.services .serv-content .card .hover_effect:hover .portfolio-img {
    -webkit-transform: scale(1.1, 1.1);
   -moz-transform: scale(1.1, 1.1);
   -o-transform: scale(1.1, 1.1);
   -ms-transform: scale(1.1, 1.1);
   transform: scale(1.1, 1.1);
}



.services .serv-content .card .box .box_text {
    position: absolute;
    color: #111;
    top:0;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: 100%;
    z-index: 90;
    left: 0;
}
.services .serv-content .card strong {
    position: absolute;
    color: #111;
    top:0;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: 100%;
    z-index: 90;
    left: 0;
}

.services .serv-content .card h2 {
    position: relative;
    font-weight: 700;
    letter-spacing: -.01em;
    /* font-size: 1.9rem; */
    font-size: 1.8rem;
    /* line-height: 2.1875rem; */
    line-height: 3.2rem;
    padding-top: 2px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.services .serv-content .card h5 {
    position: relative;
    font-weight: 100;
    opacity: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
} 

.services .serv-content .card .hover_effect h5 {
    -webkit-transform: translateY(50px);
   -moz-transform: translateY(50px);
   -o-transform: translateY(50px);
   -ms-transform: translateY(50px);
   transform: translateY(50px);
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.services .serv-content .card .hover_effect:hover h5{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}



.services .serv-content .card p {
    position: relative;
    
    font-size: 16px;
    font-weight: 100;
    padding-top: 2px;
    padding-bottom: 3px;
}
.services .serv-content .card span {
    position: relative;

    
    padding-left: 6px;
}
.services .serv-content .card .hover_effect p {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.services .serv-content .card .hover_effect:hover p{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}



.services .serv-content .card .hover_effect strong {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(0,0,0, 0.7);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.services .serv-content .card .hover_effect:hover strong {
    filter: alpha(opacity=100);
    opacity: 1;
}
.services .serv-content .card:hover strong {
    color: #fff;
}




/*------------------------------------------
responsive media query
-------------------------------------------*/

@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1104px){
 
}
@media (max-width: 991px){
    .max-width {
        padding: 0 50px;
    }
    
    .services .serv-content .card .box .box_text {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .services .serv-content .card strong {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .services .serv-content .card h2 {
        font-weight: 800;
        letter-spacing: -.01em;
        font-size: 1.5rem;
       line-height: 1.8rem;
        padding-top: 2px;
        padding-bottom: 3px;
    }
}
@media (max-width: 940px) {
    .max-width {
        padding: 0 50px;
        max-width: 800px;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 0.8em; 
    }
    .services .serv-content .card h2 {
        font-weight: 800;
        letter-spacing: -.01em;
        font-size: 1.7rem;
       line-height: 1.8rem;
        
        padding-top: 2px;
        padding-bottom: 3px;
    }
}

@media (max-width: 690px){
    .max-width {
        padding: 0 23px;
    }
    
    .services .serv-content .card {
        width: 100%;
    }

    .services .serv-content .card .box .box_text {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .services .serv-content .card strong {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .services .serv-content .card h2 {
        font-weight: 800;
        letter-spacing: -.01em;
        /* font-size: 1.8rem; */
        font-size: 48px;
        line-height: 3.5rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 500px) {
 
    .services .serv-content .card h2 {
        font-weight: 800;
        letter-spacing: -.01em;
        font-size: 1.7rem;
        line-height: 2rem;
    
        
        padding-top: 10px;
        padding-bottom: 10px;
    }
  
} 